body {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.5;
}

.form {
  max-width: 300px;
  border-radius: 5px;
  border: 1.5px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}

.inputText,
.inputNumber {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 10px;
}

.submit {
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 0 auto;
  height: 30px;
  align-items: center;
}

.inputError {
  font-weight: bold;
}

.name {
  width: 250px;
  height: 20px;
}

.searchBox {
  margin: 20px;
}

.valueText {
  width: 320px;
  height: 20px;
}

.list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.listItem {
  list-style: none;
  border-radius: 5px;
  border: 1.5px solid black;
  margin: 20px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.listItemAlt {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  text-align: center;
}

.listItemAlt p {
  margin: 0;
}

.listItemButton {
  width: 80px;
  display: flex;
  justify-content: center;
  align-self: center;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #f0f0f0;
}

.listItemButton:hover {
  background-color: #f0f0f0;
}

.listItem:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
